<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django</title>
    </head>
    <body>
        <div class="row">
        <div class="col"></div>
            <div class="mt-5 mb-5 col-8 text-center text-info">
                <h2>Versiones Portafolio Django</h2>
                <p>Realizado por Bastian Cortes</p>
                <table class="table text-success">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Cambios en codigo</th>
                            <th>Cambios en vistas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>CRUD base en Django</td>
                            <td>Crear, listar, actualizar y eliminar</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Se implementa Generic Views</td>
                            <td>Informacion de versiones</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a class="btn btn-info mt-5" role="button" href="{% url 'list_user' %}">Volver</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </body>
</html>