<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django</title>
    </head>
    <body>
        <div class="mt-5"><h2 class="text-center text-info">CRUD Básico Django <a href="{% url 'web_update' %}">V2</a></h2></div>
        <div class="mb-5"><h6 class="text-center text-info">Crea o edita un usuario</h6></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8 text-center">
                <div class="list-group">
                    {% for users in object_list %}
                        <a class="list-group-item list-group-item-action" href="{% url 'update_user' users.id %}">
                            {{ users.name }} {{ users.last_name }}
                        </a>
                    {% endfor %}
                </div>
                <a class="btn btn-info mt-5" role="button" href="{% url 'create_user' %}">Crear usuario</a>
            </div>
            <div class="col"></div>
        </div>
    </body>
</html>

