<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django</title>
    </head>
    <body>
        <div class="text-center">
            <form method="POST">
                {% csrf_token %}
                <div class="mt-5"><h2 class="text-center text-info">¿Eliminar usuario <strong>{{ object.name }}</strong>?</h2></div>
                <div>
                    <a class="btn btn-info mt-5" role="button" href="{% url 'list_user' %}">Volver</a>
                    <button class="btn btn-danger mt-5" type='submit'>Confirmar</button>
                </div>
            </form>
        </div>
    </body>
</html>