<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django</title>
    </head>
    <body>
        <div class="mt-5 mb-5"><h2 class="text-center text-info">Aquí puedes crear o editar un usuario</h2></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8 text-center">
                <form method="POST">
                    <div>
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div>
                        <a class="btn btn-info mt-5" role="button" href="{% url 'list_user' %}">Volver</a>
                        <button class="btn btn-info mt-5" type='submit'>Guardar</button>
                    </div>
                    <div>
                        {% if users %}
                            <a class="btn btn-danger mt-5" role="button" href="{% url 'delete_user' users.id %}">Eliminar usuario</a>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </body>
</html>